body
{
    margin: 0px; /* borra todos lo espacios 
}
#caja{
    margin: 0px;
    padding: 10px;
    background-color: aquamarine;

}*/}
.caja{
    margin: 0px;
    padding: 10px;
    background-color: aquamarine;

}